pandas >= 1.3.3
numpy >= 1.21.2
torch >= 1.9.0
torchvision >= 0.10.0
transformers >= 4.11.3
torchtext >= 0.10.0
scipy >= 1.7.3
scikit-learn >= 0.24.2
matplotlib >= 3.4.3
seaborn >= 0.11.2
ninja
flash-attn # need  --no-build-isolation flag
git+https://github.com/HazyResearch/flash-attention.git#subdirectory=csrc/rotary
sentencepiece
jupyter